# Book Data Cleaning

In [ ]:
import graphlab as gl

In [ ]:
#skip books published in year 1806(to get consistent data)
#data_book = data_book[data_book["year"] != 1806]

In [ ]:
#only choose books published before year 2004 as data collected in year 2004(data is noisy as it contains publish
#year upto 2050)
#data_book = data_book[data_book["year"] <= 2004]

In [ ]:
#data_book.save("./book_data/")

In [ ]:
data_book = gl.load_sframe("./book_data/")

In [ ]:
data_book["year"].sketch_summary()

In [ ]:
#filter those values that contains 'Not Applicable (Na )' as their authors
#return an array containing values "Not Applicable"
def func(st):
    if st.startswith("Not"):
        return True
    else: 
        return False
s_array = data_book["author"].filter(func)

In [ ]:
data_book = data_book.filter_by(s_array, "author", exclude=True)

In [ ]:
'Not Applicable (Na )' in data_book["author"]

In [ ]:
data_book.save("./book_data/")

In [ ]:
#canvas shows us that song_id contain ambiguous values i.e. ids are not completely unique
data_book.show()

In [ ]:
data_book.head()

### Code to ensure book_id contains only unique ids

In [ ]:
other_cols = data_book.column_names()
other_cols.remove("book_id")
agg_list = [gl.aggregate.SELECT_ONE(i) for i in other_cols]
data_book = data_book.groupby("book_id", dict(zip(other_cols, agg_list)))

### Code to check any other Not Available entry in other columns of data_book

In [ ]:
def func(st):
    if st.startswith("Not Avail"):
        return True
    else:
        return False
cols = data_book.column_names()
print cols
cols.remove("year")
cols.remove("book_id")
#633 publishers not avialble
for column in cols:
    print column
    print len(data_book[column].filter(func))

In [ ]:
#Removing rows from data_book where publisher not available
publisher_filter = data_book["publisher"].filter(func)
data_book = data_book.filter_by(publisher_filter, "publisher", exclude=True)

In [ ]:
len(data_book)

In [ ]:
len(data_book["book_id"]) == len(data_book["book_id"].unique())

# Cleaning user data

In [ ]:
import graphlab as gl

In [ ]:
data_user = gl.SFrame.read_csv("BX-Users.csv", delimiter=";")

In [ ]:
data_user.rename({"User-ID":"user_id", "Location":"location", "Age":"age"})

In [ ]:
data_user = data_user[data_user["age"] != "NULL"]

In [ ]:
data_user.head()

In [ ]:
#removal of rows containing null values in age column 
len(data_user["user_id"]) == len(data_user["user_id"].unique())

In [ ]:
data_user.show()

In [ ]:
data_user["age"].sketch_summary()

In [ ]:
data_user.save("./user_data_clean")

In [ ]:
#omit rows where location not available
def func(st):
    if st.startswith("not"):n
        return True
    else:
        return False

In [ ]:
data_user["location"].filter(func)

# Cleaning Ratings Data

In [1]:
import graphlab as gl

ratings_data = gl.SFrame.read_csv("BX-Book-Ratings.csv", delimiter=";")

In [4]:
ratings_data.head()

Columns:
	User-ID	int
	ISBN	str
	Book-Rating	int

Rows: 10

Data:
+---------+------------+-------------+
| User-ID |    ISBN    | Book-Rating |
+---------+------------+-------------+
|  276725 | 034545104X |      0      |
|  276726 | 0155061224 |      5      |
|  276727 | 0446520802 |      0      |
|  276729 | 052165615X |      3      |
|  276729 | 0521795028 |      6      |
|  276733 | 2080674722 |      0      |
|  276736 | 3257224281 |      8      |
|  276737 | 0600570967 |      6      |
|  276744 | 038550120X |      7      |
|  276745 | 342310538  |      10     |
+---------+------------+-------------+
[10 rows x 3 columns]

In [6]:
implicit_data = ratings_data[ratings_data["Book-Rating"] == 0]

implicit_data.save("./implicit_rating_data")

In [9]:
explicit_data = ratings_data[ratings_data["Book-Rating"] != 0]

explicit_data.save("./explicit_rating_data")

In [14]:
len(explicit_data["Book-Rating"])

433671

# Displaying book image

In [ ]:
import graphlab as gl
book_data = gl.load_sframe("book_data_clean/")

image_book = gl.SFrame("./csv_files/BX-Books.csv") 

image_book = image_book.filter_by(book_data["book_id"], column_name="ISBN")

image = image_book["Image-URL-M"][0:5]

from IPython.core.display import Image, display
for item in image:
    display(Image(url=item))