In [7]:
import graphlab as gl

In [8]:
#Regression model trained on explicit data with more than 55000 values
my_model = gl.load_model("./regression_model_file/")

This non-commercial license of GraphLab Create for academic use is assigned to rahultyagirt7@outlook.com and will expire on June 03, 2017.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.0.1 started. Logging: /tmp/graphlab_server_1469772595.log

In [9]:
implicit_data = gl.load_sframe("./implicit_rating_data/")

In [10]:
book_data = gl.load_sframe("./book_data_clean/")

In [11]:
user_data = gl.load_sframe("./user_data_clean/")

In [12]:
implicit_data.filter_by(user_data["user_id"], "User-ID")

Columns:
	User-ID	int
	ISBN	str
	Book-Rating	int

Rows: 535011

Data:
+---------+------------+-------------+
| User-ID |    ISBN    | Book-Rating |
+---------+------------+-------------+
|  276727 | 0446520802 |      0      |
|  276733 | 2080674722 |      0      |
|  276747 | 0451192001 |      0      |
|  276747 | 0609801279 |      0      |
|  276747 | 1570231028 |      0      |
|  276748 | 3442437407 |      0      |
|  276762 | 034544003X |      0      |
|  276762 | 0380000059 |      0      |
|  276762 | 0451167317 |      0      |
|  276762 | 0451454952 |      0      |
+---------+------------+-------------+
[535011 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [13]:
user_data.filter_by(implicit_data["User-ID"], "user_id")

Columns:
	user_id	int
	location	str
	age	str

Rows: 36823

Data:
+---------+--------------------------------+-----+
| user_id |            location            | age |
+---------+--------------------------------+-----+
|    2    |   stockton, california, usa    |  18 |
|    10   |   albacete, wisconsin, spain   |  26 |
|    20   |  langhorne, pennsylvania, usa  |  19 |
|    36   |    montreal, quebec, canada    |  24 |
|    38   |     viterbo, lazio, italy      |  34 |
|    44   | black mountain, north caro...  |  51 |
|    56   |     cheyenne, wyoming, usa     |  24 |
|    67   | framingham, massachusetts, usa |  43 |
|    75   |  long beach, california, usa   |  37 |
|    79   |    ottawa, ontario, canada     |  20 |
+---------+--------------------------------+-----+
[36823 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [14]:
book_data.filter_by(implicit_data["ISBN"], "book_id")

Columns:
	book_id	str
	title	str
	author	str
	year	int
	publisher	str

Rows: 45686

Data:
+------------+-------------------------------+-------------------------+------+
|  book_id   |             title             |          author         | year |
+------------+-------------------------------+-------------------------+------+
| 080652121X | Hitler's Secret Bankers: T... |        Adam Lebor       | 2000 |
| 1558746218 | A Second Chicken Soup for ... |      Jack Canfield      | 1998 |
| 1575663937 | More Cunning Than Man: A S... |    Robert Hendrickson   | 1999 |
| 1881320189 | Goodbye to the Buttermilk Sky |       Julia Oliver      | 1994 |
| 1841721522 | New Vegetarian: Bold and B... |    Celia Brooks Brown   | 2001 |
| 1879384493 | If I'd Known Then What I K... |      J. R. Parrish      | 2003 |
| 3442353866 | Der Fluch der Kaiserin. Ei... |      Eleanor Cooney     | 2001 |
| 3442410665 |       Sturmzeit. Roman.       |      Charlotte Link     | 1991 |
| 3442446937 |       Tage der Unschuld.      | Richard North Patterson | 2000 |
| 038078243X | Miss Zukas and the Raven's... |        Jo Dereske       | 1996 |
+------------+-------------------------------+-------------------------+------+
+-----------------------------+
|          publisher          |
+-----------------------------+
|        Citadel Press        |
|    Health Communications    |
| Kensington Publishing Corp. |
|        River City Pub       |
|      Ryland Peters &amp     |
|        Cypress House        |
|           Goldmann          |
|           Goldmann          |
|           Goldmann          |
|             Avon            |
+-----------------------------+
[45686 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [15]:
implicit_data.filter_by(book_data["book_id"], "ISBN")

Columns:
	User-ID	int
	ISBN	str
	Book-Rating	int

Rows: 111437

Data:
+---------+------------+-------------+
| User-ID |    ISBN    | Book-Rating |
+---------+------------+-------------+
|  276725 | 034545104X |      0      |
|  276733 | 2080674722 |      0      |
|  276746 | 055356451X |      0      |
|  276747 | 1570231028 |      0      |
|  276762 | 3404122879 |      0      |
|  276762 | 3404182928 |      0      |
|  276762 | 3426690179 |      0      |
|  276762 | 3442424216 |      0      |
|  276762 | 3442425573 |      0      |
|  276762 | 3453176944 |      0      |
+---------+------------+-------------+
[111437 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [16]:
implicit_data.rename({"User-ID": "user_id", "ISBN": "book_id", "Book-Rating":"ratings"})

Columns:
	user_id	int
	book_id	str
	ratings	int

Rows: 716109

Data:
+---------+------------+---------+
| user_id |  book_id   | ratings |
+---------+------------+---------+
|  276725 | 034545104X |    0    |
|  276727 | 0446520802 |    0    |
|  276733 | 2080674722 |    0    |
|  276746 | 0425115801 |    0    |
|  276746 | 0449006522 |    0    |
|  276746 | 0553561618 |    0    |
|  276746 | 055356451X |    0    |
|  276746 | 0786013990 |    0    |
|  276746 | 0786014512 |    0    |
|  276747 | 0451192001 |    0    |
+---------+------------+---------+
[716109 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [17]:
#joining all datasets to get SFrame with user info, book info and ratings
joined_data = implicit_data.join(book_data, "book_id")

joined_data = joined_data.join(user_data, "user_id")

In [19]:
joined_data.head(3)

Columns:
	user_id	int
	book_id	str
	ratings	int
	title	str
	author	str
	year	int
	publisher	str
	location	str
	age	str

Rows: 3

Data:
+---------+------------+---------+-------------------------------+
| user_id |  book_id   | ratings |             title             |
+---------+------------+---------+-------------------------------+
|  276733 | 2080674722 |    0    |  Les Particules Elementaires  |
|  276747 | 1570231028 |    0    | Change Your Job, Change Yo... |
|  276762 | 3404122879 |    0    |   Vater Himmel, Mutter Erde.  |
+---------+------------+---------+-------------------------------+
+--------------------+------+---------------------+
|       author       | year |      publisher      |
+--------------------+------+---------------------+
| Michel Houellebecq | 1998 |      Flammarion     |
| Ronald L. Krannich | 1999 | Impact Publications |
|    Sue Harrison    | 1995 |       L�?¼bbe       |
+--------------------+------+---------------------+
+-------------------------------+-----+
|            location           | age |
+-------------------------------+-----+
|       paris, n/a, france      |  37 |
|      iowa city, iowa, usa     |  25 |
| duisburg, nordrhein-westfa... |  25 |
+-------------------------------+-----+
[3 rows x 9 columns]

In [20]:
#filtering rows for user who did not mention country in his location
fil = []
for item in joined_data["location"]:
    temp = item.split(",")
    if len(temp) <= 2 or temp[2] == "":
        fil.append(False)
    else:
        fil.append(True)
fil = gl.SArray(data=fil)

joined_data = joined_data[fil]

In [21]:
#striping location string to include only country name and city
def modify(st):
    st = st.split(",")
    if st[1] == " " or st[1] == " n/a":
        st[1] = st[2]
    del(st[0])
    st_0 = st[0].strip() 
    st_1 = st[1].strip()
    st = st_0 + ", " + st_1
    return st

In [22]:
joined_data["location"] = joined_data["location"].apply(modify)

In [31]:
joined_data.remove_column("ratings")
joined_data.head(3)

Columns:
	user_id	int
	book_id	str
	title	str
	author	str
	year	int
	publisher	str
	location	str
	age	str

Rows: 3

Data:
+---------+------------+-------------------------------+--------------------+
| user_id |  book_id   |             title             |       author       |
+---------+------------+-------------------------------+--------------------+
|  276733 | 2080674722 |  Les Particules Elementaires  | Michel Houellebecq |
|  276747 | 1570231028 | Change Your Job, Change Yo... | Ronald L. Krannich |
|  276762 | 3404122879 |   Vater Himmel, Mutter Erde.  |    Sue Harrison    |
+---------+------------+-------------------------------+--------------------+
+------+---------------------+------------------------------+-----+
| year |      publisher      |           location           | age |
+------+---------------------+------------------------------+-----+
| 1998 |      Flammarion     |        france, france        |  37 |
| 1999 | Impact Publications |          iowa, usa           |  25 |
| 1995 |       L�?¼bbe       | nordrhein-westfalen, germany |  25 |
+------+---------------------+------------------------------+-----+
[3 rows x 8 columns]

In [43]:
"""
1.Predict ratings for all the movies and append them to a list preserving order
2.Also, if ratings are 0 then convert it to 1 and for rating greater than 10 convert it to 10
3.math.ceil() method used to get integer value as ratings ar predicted as float values

List containg predicted ratings is converted to SArray and added as a column(named 'ratings') to joined_data
"""
import math
rating_list = []
for book in joined_data:
    rating = int(math.ceil(my_model.predict(book)[0]))
    if rating < 1:
        rating = 1
    elif rating > 10:
        rating = 10
    rating_list.append(rating)

rating_sarray = gl.SArray(rating_list)

joined_data.add_column(rating_sarray, name="ratings")

In [45]:
joined_data["ratings"].show()

Canvas is accessible via web browser at the URL: http://localhost:60427/index.html
Opening Canvas in default web browser.

In [46]:
joined_data.save("./predicted_implicit_data")